In [1]:
%pip install -q numpy pandas

Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('./real_estate_data.csv', sep='\t')
df.head()

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.0,2019-03-07T00:00:00,3,2.70,16.0,51.0,8,NaN,...,25.0,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.4,2018-12-04T00:00:00,1,NaN,11.0,18.6,1,NaN,...,11.0,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.0,2015-08-20T00:00:00,2,NaN,5.0,34.3,4,NaN,...,8.3,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.0,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.0,2018-06-19T00:00:00,2,3.03,14.0,32.0,13,NaN,...,41.0,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0

In [20]:
df.info()
df.head(10)
print(f'{(1-len(df.dropna(subset=["is_apartment"])) / len(df))}%')

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 42 to 23671
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          250 non-null    bool
 1   last_price            250 non-null    bool
 2   total_area            250 non-null    bool
 3   first_day_exposition  250 non-null    object
 4   rooms                 250 non-null    bool
 5   ceiling_height        250 non-null    bool
 6   floors_total          250 non-null    bool
 7   living_area           250 non-null    bool
 8   floor                 250 non-null    bool
 9   is_apartment          250 non-null    bool
 10  studio                250 non-null    bool
 11  open_plan             250 non-null    bool
 12  kitchen_area          250 non-null    bool
 13  balcony               250 non-null    bool
 14  locality_name         250 non-null    object
 15  airports_nearest      250 non-null    bool
 16  cityCenters_nearest   250 non-null    bool
 17  parks_around3000      250 non-null    bool
 18  parks_nearest         250 non-null    bool
 19  ponds_around3000      250 non-null    bool
 20  ponds_nearest         250 non-null    bool
 21  days_exposition       250 non-null    bool
dtypes: bool(20), object(2)
memory usage: 10.7+ KB
0.0%

In [21]:
df = df.where(df['is_apartment'].isna(), False)
df

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23404,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23416,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isna().sum()

total_images                0
last_price                  0
total_area                  0
first_day_exposition        0
rooms                       0
ceiling_height           9195
floors_total               86
living_area              1903
floor                       0
is_apartment            20924
studio                      0
open_plan                   0
kitchen_area             2278
balcony                 11519
locality_name              49
airports_nearest         5542
cityCenters_nearest      5519
parks_around3000         5518
parks_nearest           15620
ponds_around3000         5518
ponds_nearest           14589
days_exposition          3181
dtype: int64

In [22]:
df.dropna(inplace=True)
df=df.dropna()

In [23]:
_df=np.where(df['is_apartment'].isna(),True,False)

In [24]:
_df.sum()

0

In [28]:
df=df.where(df['is_apartment'].isna(),False)
df

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23404,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23416,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [26]:
df=df.where(df['is_apartment'].isna(),False)
df

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23404,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23416,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df['is_apartment']=df['is_apartment'].fillna(False)
df

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
42,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
56,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
77,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23378,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23404,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23416,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23563,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23671,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isna().sum()

total_images            0
last_price              0
total_area              0
first_day_exposition    0
rooms                   0
ceiling_height          0
floors_total            0
living_area             0
floor                   0
is_apartment            0
studio                  0
open_plan               0
kitchen_area            0
balcony                 0
locality_name           0
airports_nearest        0
cityCenters_nearest     0
parks_around3000        0
parks_nearest           0
ponds_around3000        0
ponds_nearest           0
days_exposition         0
dtype: int64