In [6]:
%pip install -q pandas numpy

Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import numpy as np

In [8]:
data=pd.read_csv('logs.csv',encoding='utf-8')
data.head()

      user_id   source       email  purchase
0  7141786820    other         NaN         0
1  5644686960    email  c129aa540a         0
2  1914055396  context         NaN         0
3  4099355752    other         NaN         0
4  6032477554  context         NaN         1

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 6.1+ MB

In [10]:
data.isna().sum()

user_id          0
source        1674
email       186047
purchase         0
dtype: int64

In [11]:
data[data['source'].isna()]

           user_id source       email  purchase
22      1397217221    NaN  79ac569f0b         0
49      5062457902    NaN  9ddce3a861         0
171     6724868284    NaN  c0e48c7cf8         0
258     3221384063    NaN  7fe8da1823         0
379     7515782311    NaN  462462af10         0
...            ...    ...         ...       ...
199342  3439213943    NaN  7edda4e2a4         0
199661  9473123762    NaN  3535509f51         0
199689   722485056    NaN  470ffa3800         0
199709  5950023506    NaN  0fb749d485         0
199758  3747926428    NaN  604850216f         0

[1674 rows x 4 columns]

In [12]:
data['purchase']=data['purchase'].astype(bool)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   200000 non-null  int64
 1   source    198326 non-null  object
 2   email     13953 non-null   object
 3   purchase  200000 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 4.8+ MB

In [13]:
data['source']=data['source'].replace('None',None)
data['source']=data['source'].replace('undef',None)
data['source'].value_counts()

source
other      133834
context     52032
email       12279
Name: count, dtype: int64

In [14]:
data.isna().sum()
data.iloc[22, :]

user_id     1397217221
source             NaN
email       79ac569f0b
purchase         False
Name: 22, dtype: object

In [15]:
data['purchase'].value_counts()

purchase
False    187897
True      12103
Name: count, dtype: int64

In [16]:
data['user_id'].value_counts()

user_id
5678294978    11
1743281508    10
9713454510    10
9798964800     9
7450740664     9
              ..
7850712396     1
7415908571     1
7875937474     1
3655904078     1
6064948744     1
Name: count, Length: 86571, dtype: int64

In [17]:
data_gb_ui=data.groupby('user_id')['purchase'].sum()

In [18]:
data_gb_ui.soft_values(ascending=False)

AttributeError: 'Series' object has no attribute 'soft_values'

In [ ]:
total_installs= data.shape[0]
total_purchase= data['purchase'].sum()
total_purchase/total_installs
total_conversion=total_purchase/total_installs

0.060515

In [ ]:
avoid_n=0
unique_install=data_gb_ui.shape[0]
unique_purchase=(pd.DataFrame(data_gb_ui).query('purchase !=@avoid_n').shape[0])
unique_conversion= unique_purchase/unique_install

In [ ]:
print(f'Конверсия: {total_conversion:.2%}')
print(f'Конверсия(уник):{unique_conversion:.2%}')

NameError: name 'total_conversion' is not defined